body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset{
    margin: 20px;
    padding: 20px;
}

.btn-white {
    background-color: white;
}

.btn-white {
    background-color: white;
}
